# Python
*.pyc
*.pyo
__pycache__/
*.swp

# Virtualenv
venv/
env/
*.egg-info/

# Django/Migrations
db.sqlite3
*.sqlite3
/media/
staticfiles/
*.log

# VS Code
.vscode/
.settings/

# IDEs e editores
.idea/
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações de ambiente
.env
*.pem
